@font-face {
    font-family: Dot57;
    src: url(./assets/fonts-ndot57.ttf);
}


body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Dot57,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e2e8f0;
    background-color: #0d1117;
}

body {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
header {
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 6em;
    height: 6em;
    border-radius: 20%;
    border: 1px solid #373F4E;
}

header > h1 {
    display: inline-block;
    font-size: 1.25em;
    line-height:normal;
    font-weight: 500;
    border-radius: .25em;
    background-color: rgba(255, 255, 255, .08);
    padding: 0.4em 0.6em;
    border: 1px solid #373F4E;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 0em 2em;
}  

ul > li {
    background-color: #161b22;
    border: 1px solid #373F4E;
    border-radius: .5em;
    padding: 1.3em;
    margin: 1em 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-size: 1.25em;
    font-weight: 500;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

a {
    color: #e2e8f0;
    text-decoration: none;
    
}

a:hover {
    color: rgb(60, 109, 255);
}

#welcome > p
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.25em;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}


footer > p {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}